body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}

.main {
  /* display: flex; */
  /* justify-content: center; */
  width: 100vw;
  height: 100vh;
}

.colors {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  /* background-color: aqua; */
}

.display {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 100px;
  /* border: 1px solid black; */
}

.display-color {
  width: 80px;
  height: 50px;
  cursor: pointer;
}

.display-text-red,
.display-text-green,
.display-text-blue {
  font-size: 14px;
  line-height: 12px;
  text-transform: uppercase;
}

.make-colors {
  border: none;
  cursor: pointer;
  height: 80px;
  width: 120px;
  border-radius: 20px;
  background-color: rgb(30, 32, 32);
  color: white;
  font-size: 20px;
  line-height: 22px;
  text-transform: uppercase;

  font-family: "Nunito Sans", sans-serif;
}

.random-colors,
.saved-colors,
.button-box {
  flex: 1;
  display: flex;
  /* justify-content: center; */
}

.button-box {
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
}

.random-colors,
.saved-colors {
  flex-wrap: wrap;
  /* overflow: scroll; */
  /* height: 100%; */
}

.color {
  width: 60%;
  height: 50px;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .color {
    width: 35%;
  }
}
